.welcome {
  font-size: 28px;
  text-align: center;
  color: #2c3e50;
}
.paragraph {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}
.container p {
  color: #e74c3c;
  font-style: italic;
}
.special-text {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  color: #8e44ad;
}
#highlight {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
}
.container p:first-of-type {
  font-weight: bold;
  color: #27ae60;
}
#example {
  text-decoration: none;
  color: #2980b9;
}
#example:hover {
  color: #c0392b;
  text-decoration: underline;
}
#list {
  margin-left: 20px;
  list-style-type: square;
}
#list li {
  font-size: 16px;
}
#button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
}
#button:hover {
  background-color: #2980b9;
}
#textInput {
  border: 1px solid #ccc;
  padding: 5px;
}
.box,
.rounded-box,
.shadow-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 200px;
  width: 200px;
  background-color: #f1c40f;
}
.rounded-box {
  width: 150px;
  height: 150px;
  background-color: #ff5733;
  border-radius: 50%;
}
#textShadow {
  font-size: 24px;
  color: #34495e;
  text-shadow: 2px 2px 5px #7f8c8d;
}
.shadow-box {
  width: 200px;
  height: 100px;
  background-color: #ecf0f1;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
